<!DOCTYPE html>
    <html>
        <head>
        <title>Productos para el usuario {{app.user.username }}</title>
        </head>
        <body>
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Para el usuario {{app.user.username }}</h1>
    {% endif %}
       
        
    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
        <ul id="navigation">
            {% for product in products %}
                <li><a href="{{ product.id }}">{{ product.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
        
    </body>
</html>